@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-bottom: env(safe-area-inset-bottom, 0px);
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
}
